.App {
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background: url('./components/london_eye_detail.webp') no-repeat center center fixed;
  background-size: cover;
  color: #333;
}

nav {
  width: 100%;
  background-color: #333;
  color: white;
  padding: 10px 0;
  text-align: left;
}

.brand {
  font-size: 1rem;
  font-weight: 200;
  padding-left: 10px;
}

.content {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
}

.home-page,
.planner-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.home-page h1 {
  text-align: center;
  color: white;
  font-size: 2rem;
  margin-bottom: 20px;
}

.planner-page h1 {
  text-align: center;
  color: black;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.planner-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 20px;
  box-sizing: border-box;
}

.left-column {
  flex: 1;
  margin-right: 20px;
}

.right-column {
  flex: 1;
  margin-left: 20px;
}

.transparent-box {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  width: 100%;
  box-sizing: border-box;
}

.transparent-box form {
  display: flex;
  flex-direction: column;
}
.transparent-box form button {
  align-self: center;
}

.transparent-box label {
  margin-bottom: 5px;
}

.transparent-box input {
  margin-left: 20px;
  padding: 10px;
  margin-bottom: 10px;
  width: calc(100% - 40px);
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.transparent-box button {
  background-color: rgb(111, 111, 178);
  color: white;
  display: inline;
  margin-left: 20px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.transparent-box button {
  opacity: 0.8;
}

@media (max-width: 768px) {
  .content {
    padding: 10px;
  }

  nav {
    text-align: center;
  }

  .brand {
    font-size: 1.2rem;
    padding-left: 0;
  }

  .home-page h1,
  .planner-page h1 {
    font-size: 1.8rem;
  }

  .planner-content {
    flex-direction: column;
    align-items: center;
  }

  .left-column,
  .right-column {
    flex: none;
    margin: 0;
    width: 100%;
    margin-bottom: 20px;
  }

  .transparent-box {
    padding: 15px;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .transparent-box input {
    margin-left: 0;
    width: 100%;
  }

  .transparent-box button {
    width: 100%;
    margin-left: 0;
    padding: 10px 0;
    font-size: 1rem;
    margin-bottom: 10px; /* Added margin-bottom to create space between buttons */
  }
}
