/* App.css */

.App {
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background: url('./components/london_eye_detail.webp') no-repeat center center fixed;
  background-size: cover;
  color: #333;
}

nav {
  width: 100%;
  background-color: #333;
  color: white;
  padding: 10px 0;
  text-align: left;
}

.brand {
  font-size: 1rem;
  font-weight: 200;
  padding-left: 20px; /* Adjust as needed */
}

.content {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.home-page,
.planner-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.home-page h1 {
  text-align: center;
  color: white;
  font-size: 2rem;
  margin-bottom: 20px;
}

.planner-page h1 {
  text-align: center;
  color: black;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.planner-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 20px;
}

.left-column {
  flex: 1;
  margin-right: 20px;
}

.right-column {
  flex: 1;
  margin-left: 20px;
}

.transparent-box {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.transparent-box form {
  display: flex;
  flex-direction: column;
}

.transparent-box label {
  margin-bottom: 5px;
}

.transparent-box .task-inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.transparent-box .task-input {
  flex: 1;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.transparent-box .task-input[type="date"] {
  flex: 1; /* Ensure date input takes full width */
}

.transparent-box .task-input[type="text"] {
  flex: 2; /* Make text input wider */
}

.transparent-box button {
  background-color: rgb(133, 133, 202);
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.transparent-box button:hover {
  opacity: 0.8;
}

@media (max-width: 768px) {
  .content {
    padding: 10px;
  }

  .planner-content {
    flex-direction: column;
    align-items: center;
  }

  .left-column,
  .right-column {
    flex: none;
    margin: 0;
    width: 100%;
  }

  .transparent-box {
    width: 100%;
    max-width: 100%;
  }

  .transparent-box .task-inputs {
    flex-direction: column; /* Stack inputs vertically on mobile */
  }

  .transparent-box .task-input {
    margin-right: 0;
    margin-bottom: 10px;
    width: 100%; /* Make inputs full width on mobile */
  }

  .transparent-box .task-input[type="text"] {
    flex: none; /* Reset width for text input */
  }

  .transparent-box button {
    width: 100%; /* Make button full width on mobile */
    max-width: 100%; /* Ensure button stretches */
    margin-left: 0; /* Reset margin */
  }
}
